WCF2/LibraryClient/Service References/LibraryService/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILibraryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="900000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_Present_InputMessage">
    <wsdl:part name="parameters" element="tns:Present" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Present_OutputMessage">
    <wsdl:part name="parameters" element="tns:PresentResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Take_InputMessage">
    <wsdl:part name="parameters" element="tns:Take" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Take_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:Return" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksCount" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetBooksCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ApplyСhanges_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyСhanges" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_ApplyСhanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyСhangesResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_EscapeLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:EscapeLibrary" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_EscapeLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:EscapeLibraryResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILibraryService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Present">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Present" message="tns:ILibraryService_Present_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/PresentResponse" message="tns:ILibraryService_Present_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Add" message="tns:ILibraryService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/AddResponse" message="tns:ILibraryService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Get" message="tns:ILibraryService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetResponse" message="tns:ILibraryService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooks" message="tns:ILibraryService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksResponse" message="tns:ILibraryService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Take">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Take" message="tns:ILibraryService_Take_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/TakeResponse" message="tns:ILibraryService_Take_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Return">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/Return" message="tns:ILibraryService_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ReturnResponse" message="tns:ILibraryService_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetBooksCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetBooksCount" message="tns:ILibraryService_GetBooksCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetBooksCountResponse" message="tns:ILibraryService_GetBooksCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="ApplyСhanges">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/ApplyСhanges" message="tns:ILibraryService_ApplyСhanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/ApplyСhangesResponse" message="tns:ILibraryService_ApplyСhanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EscapeLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/EscapeLibrary" message="tns:ILibraryService_EscapeLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/EscapeLibraryResponse" message="tns:ILibraryService_EscapeLibrary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILibraryService" type="tns:ILibraryService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILibraryService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Present">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Present" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Take">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Take" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Return">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/Return" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksCount">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/GetBooksCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyСhanges">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/ApplyСhanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EscapeLibrary">
      <soap12:operation soapAction="http://tempuri.org/ILibraryService/EscapeLibrary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="NetTcpBinding_ILibraryService" binding="tns:NetTcpBinding_ILibraryService">
      <soap12:address location="net.tcp://localhost:9000/service/wh" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/service/wh</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>